DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=Kortex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET_KEY=

CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
REDIS_URL=redis://127.0.0.1:6379/1

KATANA_MODEL_ROOT=/home/utkarsh/Kortex/django-backend/katana_models
GUARDRAILS_MODEL_ROOT=/home/utkarsh/Kortex/django-backend/models